* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

#font_page {
    background-color: beige;
    /* position: absolute; */
    display:block;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    width:auto;
    padding-bottom:1%;
    padding-left:1%;
    padding-right:1%;
    border-radius:9px;
    padding-top:1%;
}

img{
    display:block;
    margin-left:auto;
    margin-right: auto;
}
.center{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.setter{
    display: block;
    background-color: blue;
    padding:3%;
    margin-top:15px;
    border-radius:9px;
}
.hover1:hover{
    background-color: blueviolet;
}
#inputBox{
    width: 12em;
}
.padding_top{
    padding-top:3%;
}
.padding_buttom{
    padding-bottom:3%;
}
.painter{
    color:red;
}